.about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 5vw;
    
    @media (max-width: 375px) {
        display: flex;
        flex-direction: column;
    }

    &__title {
        font-size: 36px;
        padding: 16px 0;
    }

    &__img {
        max-width: 480px;
        padding: 0 12px;
        border-radius: 16px;
        
        @media (max-width: 375px){
            max-width: 90vw;
        }

    }

    &__text {

        font-size: 18px;
    }
}