.hero {
    padding: 5.6vw;
    min-height: 80dvh;
    max-height: 80dvh;
    background-image: url(../../dist/images/hero\ interestelar.jpg);
    text-align: center;
    background-size: cover;

    @media (max-width: 375px){
        max-width: 100vh;
        
    }

    &__content {
        max-width: 640px;

        &__img{
            max-width: 80vw;
        }

        &__branding {
            max-width: 320px;
            margin: 0 auto 38px;
            
        }
    }
}